Sockets-ICD/Protocolos/perguntas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="texto" type="xs:string"/>
	
	<xs:element name="respostaCerta">
		 <xs:simpleType>
			<xs:restriction base="xs:string">
			  <xs:enumeration value="a"/>
			  <xs:enumeration value="b"/>
			  <xs:enumeration value="c"/>
			  <xs:enumeration value="A"/>
			  <xs:enumeration value="B"/>
			  <xs:enumeration value="C"/>
			</xs:restriction>
	  </xs:simpleType>
	</xs:element>
	
	<xs:element name="perguntas">
		<xs:complexType>
			<xs:sequence>
			<!--Se quiseremos número infinito de pergunta é meter unbounded-->
				<xs:element ref="pergunta" maxOccurs="10"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pergunta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="texto"/>
				<xs:element ref="opcoes"/>
				<xs:element ref="respostaCerta"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="opcoes">
		<xs:complexType>
			<xs:sequence>
			<!--Se só quisermos 3 opções válidas-->
				<xs:element ref="opcao" minOccurs="3" maxOccurs="3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="opcao" type="xs:string"/>
</xs:schema>
