Sockets-ICD/Protocolos/sender.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2019 rel. 3 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="aluno">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nome"/>
			</xs:sequence>
			<xs:attribute name="data_nascimento" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="29/06/1999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nAluno" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="45410"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="alunos">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="aluno"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nome">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Teste SubTeste"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
